@model IEnumerable<ServicosEPedidos_Mod_17E.Models.PedidoAceite>

@{
    ViewBag.Title = "Index";
}

<h2>Pedidos Aceites</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPrest.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPedAc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPrest.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedAc)
        </td>
    </tr>
}

</table>
